<div class="pure-g">
  <div class="pure-u-1-2">
    <div class="content_panel">
      <div class="inner_padded">
        <h1>About Sideband</h1>
      </div>
    </div>
  </div>
  <div class="pure-u-1-2">
    Right column
  </div>
</div>
{{partial "navigation/top_nav"}}

